body,
html {
    width: 100%;
    height: 100%;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.main-container {
    margin-top: 30px;
}

.bg {
    text-align: center;
    margin-bottom: 25px;
}

.fixed-top {
    position: fixed !important;
}

#nav {
    position: absolute;
    z-index: 1000;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    margin-top: 20px;
    width: 100vw;
    overflow-x: hidden;
}

.menu-item {
    background-color: black !important;
    font-weight: 800;
}

.test div {
    padding: 0;
}

.test img {
    width: 100%;
    height: 200px;
    padding: .5em .5em .5em .5em;
}

#principal img {
    height: 400px;
}

.cleandefaultpadding {
    padding-left: 0;
    padding-right: 0;
}

.block1 {
    margin: 0;
    padding: 30px 0 0 0;
    width: 100%;
    height: 100%;
}

.column-image img {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.column-image img:last-child {
    padding-bottom: 30px;
}

.column-image img:first-child {
    padding-top: 30px;
}

iframe {
    border: 0;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-top: 2em;
    position: relative;
    height: 0;
}

.map-responsive .iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    position: absolute;
}

.lounge{
    border-radius: 50%;
    width: 155px;
    display: inline-block;
}

.vega{
    border-radius: 50%;
    width: 220px;
    display: inline-block;
}

.alinear{
    display: inline-block;
    vertical-align: middle;
}

.alinear h2{
    width: auto;
}

.logos-column {
    margin: 2em 0;
    text-align: center;
}

.shfooter .collapse {
    display: inherit;
}

@media (max-width:767px) {
    .shfooter ul {
        margin-bottom: 0;
    }
    .shfooter .collapse {
        display: none;
    }
    .shfooter .collapse.show {
        display: block;
    }
    .shfooter .title .fa-angle-up,
    .shfooter .title[aria-expanded=true] .fa-angle-down {
        display: none;
    }
    .shfooter .title[aria-expanded=true] .fa-angle-up {
        display: block;
    }
    .shfooter .navbar-toggler {
        display: inline-block;
        padding: 0;
    }
}

.resize {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.25rem;
}


/*RESIZESCREEN ANIMATION*/

.fa-angle-double-right {
    animation: rightanime 1s linear infinite;
}

.fa-angle-double-left {
    animation: leftanime 1s linear infinite;
}

@keyframes rightanime {
    50% {
        transform: translateX(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes leftanime {
    50% {
        transform: translateX(-10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

#footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
}

.facebbok {
    color: #3b5998;
}

.linkedin {
    color: #0e76a8;
}

.twitter {
    color: #00acee;
}

.youtube {
    color: #c4302b;
}